<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>
    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

    <style>
      :root {
        --bg-color: #fff;
        --text-color: #222;
      }
      body {
        background: var(--bg-color);
        color: var(--text-color);
        transition: background 0.3s, color 0.3s;
      }
      body.dark-mode {
        --bg-color: #181818;
        --text-color: #fff;
      }
      .theme-switch {
        display: inline-block;
        vertical-align: middle;
        margin-left: 1em;
        cursor: pointer;
      }
      .theme-switch input {
        display: none;
      }
      .theme-switch .slider {
        position: relative;
        width: 44px;
        height: 24px;
        background: #ccc;
        border-radius: 34px;
        display: inline-block;
        transition: background 0.3s;
      }
      .theme-switch .slider:before {
        content: "";
        position: absolute;
        left: 4px;
        top: 4px;


